server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: usuarios-service
          uri: http://usuarios-ms:8081
          predicates:
            - Path=/usuarios/**

        - id: core-service
          uri: http://core-ms:8082
          predicates:
            - Path=/productos/**, /categorias/**

        - id: carrito-service
          uri: http://carrito-ms:8083
          predicates:
            - Path=/carritos/**

      globalcors:
        cors-configurations:
          "[/**]":
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
            allowedHeaders: "*"
